<h3>Please Enter Amount To Deposit</h3>

<form action="/accounts/<%= @account.id %>/transaction" accept-charset="UTF-8" method="post">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <div class="field form-group">
    <input type="number" name="amount" id="amount" class="form-control" placeholder="Amount" min="1" required>
  </div>

  <input type="hidden" id="transaction_type" name="transaction_type" value="DEPOSIT">

  <div class="actions">
    <input type="submit" name="commit" value="Deposit"  class="btn btn-secondary"  >
  </div>
</form>

<br/>

<%= link_to 'Back', accounts_path, class: "btn btn-dark" %>